* {
  margin: 0;
  padding: 0;
  font-family: Open Sans, mm-main, arial, sans-serif;
  --color-black: #141414;
  --color-brown: #e1a54a;
  --color-white: white;
}

html {
  scroll-behavior: smooth;
  background-color: var(--color-white);
}

h1 {
  font-size: 3em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-brown);
}

button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--color-brown);
  color: var(--color-brown);
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 0.5em 1.5em;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

  &:hover {
    box-shadow: 0 0 40px 40px var(--color-brown) inset;
    color: var(--color-white);
    outline: 0;
  }
}
