/* Menu Burger */

.burger {
  z-index: 2;
  position: absolute;
  background: none;
  border: none;
  display: block;
  height: 40px;
  width: 40px;
  margin-right: 20px;
  right: 0px;

  button {
    height: 100%;
    width: 100%;
    background: inherit;
    cursor: pointer;
    border-width: 0;
  }
}

.burger-line {
  display: block;
  width: 40px;
  height: 4px;
  border-radius: 3px;
  background: var(--color-brown);
  transition: all 0.3s ease-in-out;

  &::before, &::after {
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 3px;
    background: var(--color-brown);
    transition: all 0.3s ease-in-out;
  }

  &::before, &::after {
    content: "";
    position: absolute;
  }

  &::before {
    transform: translateY(12px);
  }

  &::after {
    transform: translateY(-12px);
  }

  &.active {
    background: none;
    width: 0px;
  }
}

.active.burger-line {
  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media screen and (min-width: 600px) {
  .burger {
    display: none;
  }
}