.eventContainer {
    background-color: grey;
    min-width: 20%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3%;

    &__modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background-color: hotpink;
    }

    &__displayNone {
        display: none;
    }

}