.eventContainer {
    min-width: 20%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3%;
    background-color: var(--color-white);
    border-radius: 3px;

    &__modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background-color: var(--color-black);
    }

    &__displayNone {
        display: none;
    }

}