.modalBack {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(5px);

  &__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 30vh;
    max-height: 60vh;
    min-width: 60vw;
    padding: 20px;
    position: fixed;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 0.4s both;
    background-color: var(--color-white);
    border: solid 1px var(--color-brown);
    margin-top: 6vh;

    & input {
      text-align: center;
      padding: 0.3em;
      width: 60%;
    }

    & button {
      margin-top: 1em;
    }
  }

  &__displayNone {
    display: none;
  }
}
